.App {
  text-align: center;
  font-size: 16px;
}

.App-header {
  height: 100px;
  padding: 20px;
}

.sub-header {
  font-size: 0.7em;
}

#footer {
  position: relative;
  min-height: 300px;
}

#footer-content {
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.char-info {
  padding: 10px;
}

.skill-info {
  padding: 10px;
}

select.form-control {
  border: none;
  outline: none;
  width: 200px;
  height: 30px;
  font-size: 1em;
}

.reset-button-cell {
  height: 25px;
  padding: none;
}

.reset-button {
  background-color: #ffd966;
  border: none;
  outline: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: none;
  margin: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.reset-button:active {
  background-color: #ffbf00;
}

table {
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0px 0px 1px #454545;
}

th, td {
  border: 1px solid #0f0f0f;
}

th.unit-name {
  width: 105px;
  height: 20px;
}

#unitName {
  width: 200px;
}

td.unit-type-sub {
  width: 28px;
  height: 30px;
  padding: 5px 1px 1px;
  border: none;
  border-bottom: 1px solid black;
}

th.unit-bb {
  width: 40px;
}

#unitBB {
  width: 54px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

th.unit-stat {
  width: 40px;
}

th.unit-BST {
  width: 40px;
}

td.skill-type {
  width: 50px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 0px 5px;
}

td.skill-name-sub {
  border-right: none;
}

td.skill-level {
  border-left: none;
}

#skillName {
  float: left;
  width: 220px;
}

#skillNameSub {
  float: left;
  width: 165px;
}

#skillLevel {
  margin-left: 0px;
  float: right;
  width: 40px;
}

tr [colSpan="2"] {
  text-align: center;
}

.skill-info-container {
  width: 500px;
  height: 40px;
}

.skill-effect, .skill-inherit {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 2px;
}

.rarity-icon {
  vertical-align: top;
  height: 16px;
}

.boon {
  background-color: #b3ffb3;
}

.bane {
  background-color: #ffb3b3;
}

.skill-effect-value {
  background-color: yellow;
}

.hover {
  position: relative;
}
.hover:hover .hover__no-hover {
  opacity: 0;
}
.hover:hover .hover__hover {
  opacity: 1;
}
.hover__hover {
  position: absolute;
  top: 0;
  opacity: 0;
}
.hover__no-hover {
  opacity: 1;
}