.App {
	width: 100%;
	margin: 0px auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  font-family: 'Cabin', sans-serif;
  padding: 2em;
}

.header {
  font-size: 32px;
  font-weight: 700;
}

.sub-header {
  font-size: 24px;
}

#footer {
  position: relative;
  min-height: 16em;
}

#footer-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#contact {
  font-size: 0.75em;
}

#disclaimer {
  font-size: 0.625em;
}

a {
  text-decoration: none;
}

.tool {
  display: inline-block;
  width: 100%;
}

.char-info {
  padding: 0.625em 0.3125em;
}

.skill-info {
  padding: 0.625em 0.3125em;
}

.toggle-box {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.toggle-table td {
  margin: 0;
  padding: 0;
  width: 5em;
}

select.form-control {
  border: none;
  outline: none;
  width: 100%;
  height: 1.875em;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

select.form-control:hover {
  box-shadow: 0px 0px 1px black;
}

#BuildSelect {
  width: 100%;
}

.reset-button-cell {
  height: 1.5em;
  padding: none;
}

.reset-button {
  visibility: hidden;
  background-color: #ffd966;
  border: none;
  border-radius: 5px;
  outline: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875em;
  padding: none;
  margin: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.reset-button:active {
  background-color: #ffbf00;
}

table {
  margin: auto;
  border-collapse: collapse;
  /* box-shadow: 0px 0px 1px #454545; */
}

th {
  font-weight: normal;
  border-bottom: 1px solid black;
}

th, td {
  padding: 2px 2px;
}

.skill-info tr {
  border-bottom: 1px solid #ddd;
}

.skill-info tr:last-of-type {
  border-bottom: none;
}

.char-info td:last-of-type {
  font-weight: 600;
}

#unitInfoLeft {
  display: inline-block;
}

#unitInfoRight {
  display: inline-block;
  height: 4.8125em;
}

#unitInfoRight th {
  height: 1.625em;
}

#unitInfoRight td {
  height: 3em;
}

.unit-portrait {
  display: block;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.unit-portrait-small {
  display: inline-block;
  height: 2.3em;
  padding-right: 1px;
  border-radius: 5px;
}

.rarity-icon {
  vertical-align: auto;
  height: 1em;
}

.unitName {
  width: 12.5em;
}

.unit-name {
  height: 1.25em;
}

.unit-type-sub {
  width: 1.875em;
  height: 1.875em;
  padding: 5px 1px 1px;
}

.unitBB {
  width: 3.9em;
  text-align: center;
  text-align-last: center;
  font-size: 0.875em;
}

.unitMerge {
  width: 3.5em;
  text-align: center;
  text-align-last: center;
}

.unit-bb, .unit-merge {
  width: 3.75em;
}

.unit-stat {
  width: 2.5em;
  height: 1.25em;
}

.unit-BST {
  width: 2.5em;
}

.unit-toggle {
  width: 2.5em;
}

.skill-type {
  width: 3.125em;
  height: 3em;
  text-align: center;
  padding: 0px 5px;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.skill-name-sub {
  border-right: none;
}

.skill-level {
  border-left: none;
  text-align: right;
  text-align-last: right;
  min-width: 2em;
}

.skillName {
  float: left;
  width: 13em;
}

.skillNameSub {
  float: left;
  width: 10.5em;
}

.skillLevel {
  margin-left: 0px;
  float: right;
  width: 2.5em;
}

.skill-info-container {
  height: 2.5em;
  padding: 2px;
}

.build-manager {
  display: inline-block;
  margin: 10px 5px;
  width: 400px;
}

.build-manager .select {
  width: 100%;
  border-bottom: 1px solid black;
}

.build-manager .link {
  margin: 5px;
  padding-top: 4px;
  float: left;
  font-size: 12px;
}

.build-manager .buttons {
  margin: 7px 7px;
  float: right;
}

.build-manager .buttons button {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #eee;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.build-manager button:hover {
  background-color: #ccc;
}

@media only screen and (min-device-width: 320px) {
  .skill-name {
    min-width: 6.5em;
  }

  .skill-effect {
    display: inline-block;
    width: 100%;
    max-width: 37em;
    text-align: left;
  }

  .skill-inherit {
    display: inline-block;
    width: 100%;
    max-width: 25em;
    text-align: left;
  }

  .skill-cost {
    display: inline-block;
    width: 100%;
    max-width: 2.25em;
    text-align: center;
  }
  
  .bottom-row {
    margin: auto;
  }
  
  .build-manager {
    width: 320px;
  }
  
  #totalSP {
    margin: auto;
  }
}

@media only screen and (min-device-width: 1024px) {
  .skill-name {
    min-width: 13em;
  }

  .skill-effect {
    display: inline-block;
    min-width: 37em;
    text-align: left;
  }

  .skill-inherit {
    display: inline-block;
    min-width: 25em;
    text-align: left;
  }

  .skill-cost {
    display: inline-block;
    min-width: 2.25em;
    text-align: center;
  }
  
  .bottom-row {
    margin: auto;
    width: 1000px;
  }

  .build-manager {
    width: 400px;
  }
  
  #totalSP {
    position: relative;
    top: -73px;
    left: 280px;
  }
}

.boon {
  background-color: #b3ffb3;
}

.bane {
  background-color: #ffb3b3;
}


.css-checkbox {
  width: 1em;
  height: 1em;
  position: relative;
  margin: auto;
}
.css-checkbox label {
  width: 1em;
  height: 1em;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
}
.css-checkbox label:after {
  content: '';
  width: 7px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.css-checkbox label:hover::after {
  opacity: 0.3;
}
.css-checkbox input[type=checkbox] {
  visibility: hidden;
  margin: 0px;
}
.css-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.toggle input {
  display: none;
}

.toggle-label {
  cursor: pointer;
  text-align: center;
  color: #BBB;
  border-bottom: 1px solid #BBB;
  margin: 0px 2px;
  padding: 2px 2px;
  width: 80px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.toggle-label:hover {
  color: black;
  background-color: #eee;
}

input:checked + .toggle-label {
  color: #866EFF;
  border-bottom: 1px solid #866EFF;
}

input:checked + .toggle-label:hover {
  color: black;
  background-color: #DED9FF;
}

.text-left {
  text-align: left;
}

.dropdown-header {
  padding-left: 6px;
}

.text-box {
  display: block;
  width: 80px;
  margin: 10px 5px;
}
.text-box > span {
  display: block;
  text-align: center;
}
.text-box > span.title {
  border-bottom: 1px solid black;
  padding: 2px 0px;
}
.text-box > span.text {
  margin: auto;
  font-size: 24px;
}

.hover {
  position: relative;
}
.hover:hover .hover__no-hover {
  opacity: 0;
}
.hover:hover .hover__hover {
  opacity: 1;
}
.hover__hover {
  position: absolute;
  top: 0;
  opacity: 0;
}
.hover__no-hover {
  opacity: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}